<form (ngSubmit)="insertData()" class="action">
    <div class="form-group">
        <label for="reference">Réference</label>
        <input type="text" name="reference" class="text form-control" [(ngModel)]="product.reference">
    </div>
    <div class="form-group">
        <label for="reference">Description</label>
        <input type="text" name="description" class="text form-control" [(ngModel)]="product.description">
    </div>
    <div class="form-group">
        <label for="reference">Quantité</label>
        <input type="text" name="quantite" class="text form-control" [(ngModel)]="product.quantite">
    </div>
    <div class="form-group">
        <label for="reference">Prix</label>
        <input type="text" name="prix" class="text form-control" [(ngModel)]="product.prix">
    </div>
    <button class="btn btn-dark btn-sm mt-4">Valider</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Réference</th>
            <th scope="col">Description</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of products">
            <th scope="row">{{prod.id}}</th>
            <th scope="row">{{prod.reference}}</th>
            <th scope="row">{{prod.description}}</th>
            <th scope="row">{{prod.quantite}}</th>
            <th scope="row">{{prod.prix}}</th>
        </tr>
    </tbody>
</table>